.deadline{
font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
<link rel="preconnect"
href="https://fonts.googleapis.com">
}
.position {
background-color: #FFFFFF; ;
}

.sonik {
font-weight: 500;
font-size: 14px;
line-height: 1.1;  
color: rgba(33, 33, 33, 1);
}

.sonik:hover,
.sonik:focus {
  color:  rgba(33, 150, 243, 1);
}

.link{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6); 
}

.link:hover,
.link:focus {
  color: #2196F3;
}

.call {
color: rgba(255, 255, 255, 1);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
}

.call {
  cursor: pointer; 
}

.isak {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: #212121;
}

.teacher{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #757575; 
}

.name {
font-weight: 500;
font-size: 16px;
line-height: 1.1;
color: #212121;
}

.profesion.{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #757575;  
}

.max {
background: #2F303A;
}
.oppo {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 1);
  ;
}

.mading {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: #212121;
}

.shooter {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: #212121;
background: #F5F4FA;
}

.loft {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: #212121;
}

.javellin {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
color: #757575;
}

.popitbox {
 background-color: #2F303A;; 
}