body {
font-family: "Roboto", "Raleway", sans-serif;
font-size: 14px;
text-decoration: none; 
}

:root {
 --color1: #212121;
 --color2: #757575; 
 --color3: #FFFFFF;
 --color4: #2196F3;
 --color5: #2F303A;
}

 button.current {
  color: var(--color3);
  background-color: var(--color4);
} 


.position {
background-color: var(--color3); ;
}
.sonik {
font-weight: 500;
font-size: 14px;
line-height: 1.1;  
text-decoration: none; 
}

.blue {
color: rgba(33, 33, 33, 1);
}

.red {
color: rgba(117, 117, 117, 1);
}

.sonik:hover,
.sonik:focus {
color: rgba(33, 150, 243, 1);
}

.current {
color:var(--color4); 
}

.safe{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6); 
text-decoration: none; 
font-style: normal
}

.alert {
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--color3);
font-style: normal
} 

.safe:hover,
.safe:focus {
  color: var(--color4);
}

.call {
background-color: rgba(245, 244, 250, 1);
color:rgba(33, 33, 33, 1);
font-family: "Roboto", sans-serif;
font-style: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
}

.call:hover,
.call:focus {
background: rgba(33, 150, 243, 1);
color: rgba(255, 255, 255, 1);
;
}

.call {
cursor: pointer; 
}

.isak {
font-weight: 700;
font-size: 14px;
line-height: 1.1;
color: var(--color1);
text-transform: uppercase; 
}

.teacher{
font-weight: 400;
font-size: 14px;
line-height: 1.7;
color: var(--color2);
}

.name {
font-weight: 500;
font-size: 16px;
line-height: 1.1;
color: var(--color1);
}

.profesion {
font-weight: 400;
font-size: 16px;
line-height: 1.1;
color: var(--color2);  
}

.oppo {
font-weight: 900;
font-size: 44px;
line-height: 1.3;
color: rgba(255, 255, 255, 1);
background: var(--color5);
}

.max {
background: var(--color5);
}

.mading {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--color1);
}

.shooter {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color:var(--color1);
background: #F5F4FA;
}

.loft {
font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--color1);
}

.javellin {
font-weight: 400;
font-size: 16px;
line-height: 1.8;
color: var(--color2);
}

.popitbox {
background-color: #2F303A;; 
}
ul {
  list-style : none;
}

.noizeone  {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1;
color: var(--color4);
text-decoration: none; 
} 

.noizetwo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.1;
color: rgba(0, 0, 0, 1);
text-decoration: none; 
} 

.noizethree {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: rgba(33, 150, 243, 1);
  text-decoration: none; 
}

.noizefour {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  color: rgba(255, 255, 255, 1);
  text-decoration: none; 
}

.bizon {
  background: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  }
  
  .bizon:hover,
  .bizon:focus 
  .bizon {
  background: #188CE8;
  cursor: pointer; 
  }
